<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-red" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="assets/images/logo.jpeg"  style="height: 30px;"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav flex-row justify-content" id="navitems">
        <li class="nav-item" *ngIf="!loginStatus">
          <a class="nav-link" routerLink="buy" >Buy Car</a>
        </li>
        <li class="nav-item" *ngIf="!loginStatus">
          <a class="nav-link" routerLink="aboutus" >About Us</a>
        </li>
        <li class="nav-item" *ngIf="!loginStatus">
          <a class="nav-link" routerLink="contactus" >Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="userEmail">
          <a class="nav-link" routerLink="buy" *ngIf="loginStatus">Buy Car</a>
        </li>
        <li class="nav-item" *ngIf="userEmail">
          <a class="nav-link" routerLink="sell" *ngIf="loginStatus">Sell Car</a>
        </li>
        <li class="nav-item" *ngIf="userEmail">
          <a class="nav-link" routerLink="aboutus" >About Us</a>
        </li>
        <li class="nav-item" *ngIf="userEmail">
          <a class="nav-link" routerLink="contactus" >Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="admincars" *ngIf="loginStatus">Show Cars Details</a>
        </li>
        <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="customers" *ngIf="loginStatus">Show Registered Customers</a>
        </li>
         <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="sellDetails" *ngIf="loginStatus">Show Selling Details</a>
        </li> 
        <li class="nav-item" *ngIf="!loginStatus">
          <a class="nav-link" [class.disabled]="loginStatus" routerLink="login">Login</a>
        </li>

        <div class="dropdown mx-5" style="margin-top: 5px; margin-left: 100%;" *ngIf="loginStatus">
          <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-light bg-red" aria-labelledby="dropdownMenu1">
            <div *ngIf="loginStatus">
            <li class="nav-item" *ngIf="userEmail" >
              <h5 *ngIf="loginStatus">{{userEmail}}</h5>
            </li>
          </div>
            <li class="nav-item" *ngIf="adminEmail" >
              <h5 *ngIf="loginStatus">{{adminEmail}}</h5>
            </li>
          
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item" *ngIf="loginStatus">
              <a class="nav-link" routerLink="logout">Logout</a>
            </li>
          </ul>
        </div>
      
       
      
    


        
        

      </ul>
      
    </div>
  </div>
</nav>
