
<div class="container mt-5 border-solid ">
    <div class="container mt-5 border border-white" style="width: 50%;">
<form class="container mt-5 border border-info" #RegForm="ngForm" (ngSubmit)="registerValid(RegForm.value)"> 
    <h2 class="mt-5 ">ENQUIRE NOW</h2>
    <p>Drop us a line by using the below form</p>
    <div class="row">
        <div class="col-xs-6">
            <label>Enter Name:</label>
            <div class="input-group">
                <span class="input-group-addon"><span  class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="customerName" ngModel #empName="ngModel">
            </div>

            <!-- <label>Enter user id:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="empId" ngModel #empId="ngModel" >
            </div> -->

            <label>Enter EmailId:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input type="text" class="form-control" name="emailId"
                pattern="(?=.*\@)" title="Must contain '@' character"
                ngModel #email="ngModel">
            </div>

            <label>Enter Location </label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" name="password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                ngModel #password="ngModel">
            </div>

            <label>Enter City: </label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                <input type="text" class="form-control" name="city" ngModel #empSalary="ngModel">
            </div>

            <label>Enter Contact No:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                <input type="text" class="form-control" name="contactNo" ngModel #department="ngModel">
            </div>

            <!-- <label>Enter State:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                <input type="text" class="form-control" name="state" ngModel #department="ngModel">
            </div> -->

            <!-- <label>Countries:</label> 
     <div class="input-group">
     <select name="country" class="cache-control" ngModel #Country="ngModel">
        <option *ngFor="let con of countries" value="{{con.name.common}}">{{con.name.common}}</option>
      </select><br> 
      </div> -->

            <!-- <label>Enter location: </label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                <input type="text" class="form-control" name="location" ngModel #location="ngModel">
            </div> -->
        </div>
    </div>

    <br /> <button type="submit" value="registerValid" class="btn btn-primary" >Register</button><br>
   
</form>

</div>
</div>