<div style="margin-top: 8%;">
    <h1 align="center"> Contact Us </h1>
    
    <div  class="contactus" style="background-color: rgb(232, 249, 244); text-align: center; " >
    <form >
            <h3>Send us an Email</h3>
            <h6>Place your requirement or proposal.</h6>
           NAME: <input type="text" placeholder="your Name*">
           <br> 
           location: <input type="text" placeholder="location*"> 
           <br>
          Phone: <input type="text" placeholder="Phone*">

          <br> 
          EmailId: <input type="text" placeholder="EmailId*"> 
          <br>
           <input type="text" placeholder=" Your Message"required minlength="8" maxlength="16">
           <br>
        <button class="btn">Submit</button>

    </form>
</div>


</div>
