<div class="container"  style="margin-top: 10%;">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info" >
            <tr>
               <th> Customer Name </th>
               <th> Email Id </th>
               <th> Contact No </th>
               <th> registration No</th>
 
            </tr>
        </thead>
          <tbody *ngIf="customers.reg">
            <tr *ngFor="let cust of customers">
                <td> {{ cust.customerName}} </td>
                <td> {{ cust.emailId}} </td>
                <td> {{ cust.contactNo }} </td>
                <td> {{ cust.reg}} </td>
                
           
               
                
            </tr>
        </tbody> 
    </table>
</div>


