<div class="container mt-5 " >
<p>sell-car works!</p>
<div style="display: flex; margin-top: 5%;">
<section style="border-color: red; border: 5px;">
    <div class="container bg-light" style="margin-left: 50%;">
    <form class=" p-5" align="center" #RegForm="ngForm" (ngSubmit)="sell(RegForm.value)">
      <h1>Enter your car registration number</h1>
      <input type="text" id="registrationNumber" name="regNumber"ngModel #regNumber="ngModel" placeholder="Enter registration number">
      <button type="submit" value="sell" class="btn btn-info mx-5">Sell my car</button>
    </form>
</div>

<div class=" mt-5" style=" margin-left: 50%;">
    <div style="width: 500px; height: 100%;">
     <div style="font-size: small;">
 <h1>Selling your car has never been this simple!</h1>
 <h3>Just do it in a few easy steps</h3>
 <p>- Submit your car specifications</p>
 <p> - Get a call from our representative, discussing other details & an approximate price</p>
 <p>- Followed by a door step valuation</p>
 <p>- Match the deal - Instant Payment Credit - Paper work Handelled</p>
     </div>
   </div>
</div>
</section>
  </div>
</div>