<div class="container mt-5 border-solid ">
    <div class="container mt-5 border border-white" style="width: 50%;">
<form class="container mt-5 border border-info" #RegForm="ngForm" (ngSubmit)="addCarDetails(RegForm.value)"> 
    <h2 class="mt-5 ">ADD CAR DETAILS</h2>
    <div class="row">
        <div class="col-xs-6">
            <!-- <label>Enter Car Id</label>
            <div class="input-group">
                <span class="input-group-addon"><span  class="glyphicon glyphicon-user"></span></span> 
                <input type="number" class="form-control" name="id" ngModel #empName="ngModel">
            </div> -->
            <label>Enter Image Link</label>
            <div class="input-group">
                <!-- <span class="input-group-addon"><span  class="glyphicon glyphicon-user"></span></span> -->
                <input type="text" class="form-control" name="img" ngModel #empName="ngModel">
            </div>

            <label>Enter Car Brand</label>
            <div class="input-group">
                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span> -->
                <input type="text" class="form-control" name="brand" ngModel #email="ngModel">
            </div>

            <label>Enter Car Model </label>
            <div class="input-group">
                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span> -->
                <input type="text" class="form-control" name="model" ngModel #password="ngModel">
            </div>

            <label>Enter Price: </label>
            <div class="input-group">
                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span> -->
                <input type="text" class="form-control" name="price" ngModel #empSalary="ngModel">
            </div>

            <label>Enter Description:</label>
            <div class="input-group">
                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span> -->
                <input type="text" class="form-control" style="height: 100px;" name="description" ngModel #department="ngModel">
            </div>


            <!-- <label>Countries:</label> 
     <div class="input-group">
     <select name="country" class="cache-control" ngModel #Country="ngModel">
        <option *ngFor="let con of countries" value="{{con.name.common}}">{{con.name.common}}</option>
      </select><br> 
      </div> -->

            <!-- <label>Enter location: </label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                <input type="text" class="form-control" name="location" ngModel #location="ngModel">
            </div> -->
        </div>
    </div>

    <br /> <button type="submit" value="addCarDetails" class="btn btn-primary" >Add Details</button><br>
    <br/>
</form>

</div>
</div>
