.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(243, 3, 3);
    transition: box-shadow 0.3s;
}

/* Style for the card content */
.card-body {
    padding: 20px;
}

/* Hover effect */
.card:hover {
    box-shadow: 0 8px 16px rgba(3, 246, 43, 0.918);
}

/* Style for the title */
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the description */
.card-text {
    font-size: 14px;
    color: #09f68b;
}