<div class='mt-3'>
  <div class="container">
    <img src="https://www.cars99.com/storage/cms_pages/210723015810-banner.jpg" style=" height: 300px; ">
  </div>
    <h4 class='text-info text-center'>Our Top Selling Cars</h4>
    <div class='container'>
      <div class='row mt-3'>
           <div class="col-xs-6 col-md-4 col-lg-4 card  justify-content- around border-0 mt-3" *ngFor="let car of carsdetails">
          <img src="{{car.img}}" alt="images" class='w-100 rounded-3 ' style="height: 220px;"  />
            <div class='card-body'>
              <p class='text-seconadry text-center' >{{car.brand}} | {{car.model}}</p>
              <p class='text-danger text-center'  >Rs.{{car.price}} Lacs</p>
            </div>
            <!-- <div class="card-footer" style=" background-color: rgb(255, 204, 0)"> -->
              <button class="mx-5"  style="border:0px solid; float: left; background-color: rgb(255, 204, 0)" (click)="navigateLogin()" *ngIf="loginStatus">Book Now</button>
              <!-- <span><button style="border:0px solid; float:right;" ><span class="glyphicon glyphicon-trash"></span></button></span> -->
            <!-- </div> -->
            <div class="card-footer" align="center" *ngIf="loginStatus">
              <button style="border:0px solid; float: left;" (click)="updateCarIdInCustomer(car.carId)" >Book Now</button>
              <span><button style="border:0px solid; float:right;"  ><span class="glyphicon glyphicon-trash"></span></button></span>
            </div>
          </div>
          
         
          
   

       

     









      </div>
    </div>
  </div>

