<div class="container" style="margin-top: 4%;">
    <div class="div mt-5">
    <form class="mt-5 border border-info" #loginForm="ngForm" (ngSubmit)="loginValidate(loginForm.value)">
        <h2>Login</h2>
        <label for="email"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg></span> Email
        </label>
        <input type="text"  name="email"  value="{{email}}"
        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
     ngModel #email="ngModel">
     <!-- <div *ngIf="emailId.invalid && emailId.touched">
      <div *ngIf="emailId.errors?.['required']">
        <p style="color: red;">Email is required.</p>
      </div>
      <div *ngIf="emailId.errors?.['pattern']">
        <p style="color: red;">Please enter a valid email address.</p>
      </div>
    </div>
</div> -->

        <label for="password"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
          </svg></span> password
        </label>
        <input type="password"  name="password" value="{{password}}" 
        required minlength="8" maxlength="16"   pattern="(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.\W).{8,}"
       ngModel #password="ngModel">
       <!-- <div *ngIf="password.invalid && password.touched">
        <div *ngIf="password.errors?.['required']">
          <p style="color: red;">Password is required.</p>
        </div>
        <div *ngIf="password.errors?.['pattern']">
          <p style="color: red;">Password must be at least one capital,small,special character and number needed</p>
        </div>
        
        <div *ngIf="password.errors?.['minlength']" >
          <p style="color: red;">Password must be at least 8 characters long</p>
        </div>
      </div> -->

  
        <!-- <button type="submit" (click) = "loginValidate()">Login</button> -->

        
     
        <button class="btn">Login</button>
        <span style="margin-left: 10%;"><a href="register">Don't have account?</a></span>
    
        
      </form>
      </div>
      </div>
    <!-- </div>
      <div style="text-align: center;">
        <div *ngIf="email.errors?.['required'] && email.touched"><p style="color:red;">Please enter valid email</p></div>
        <div *ngIf="email.errors?.['minlength'] && email.touched"><p style="color: red;">Please enter at least 6 characters for email</p></div>
        <div *ngIf="email.errors?.['maxlength'] && email.touched"><p style="color:red;">Please enter at least 6 characters for email</p></div>
        <div *ngIf="password.errors?.['minlength'] && password.touched"><p style="color: red;">Please enter at least 8 characters for password</p></div>
        <div *ngIf="password.errors?.['required'] && password.touched"><p style="color: red;">Please enter valid password</p></div>
        <div *ngIf="password.errors?.['maxlength'] && password.touched"><p style="color:red;">Please enter at least 8 characters for password</p></div>
    </div> -->
  

