<div class="container"style="margin-top:8%">
    <!-- <img src="assets\Images\Img1.jpg" style="width: 500px;"> -->
    <!-- <img src="https://tse1.mm.bing.net/th?id=OIP.nsCszMplhwXsU8MURYhxlgHaEK&pid=Api&P=0&h=180" style="width: 300px;"> -->
   

<h1 style="color: rgb(0, 162, 255); text-align: center;">About Us</h1> 
<h5 style="color: brown;">Our team has been proudly serving Pan India for over 25 years. From humble beginnings as a small, family-owned business, we have grown to become one of the most trusted names in the automobiles market.</h5>
<div class="conatiner">
<div class="About">
    <h1 style="text-align: center;">“ONE STOP BRAND FOR ALL YOUR CAR NEEDS”</h1>
    <!-- <button style="background-color: blue; ">BUY(NEW & PRE-OWNED)</button>
    <button style="background-color: blue;">SELL</button>
    <button style="background-color: blue;">FINANCE</button> -->
</div>

<div>

   <h6>Cars99 is a prominent brand that offers a comprehensive range of car services and solutions to cater to all your automobile needs. Our dedicated team of professionals is committed to providing our valued clients with the highest level of customer satisfaction at our dealership. Our founder and his team have been actively engaged in this industry since 1991 and have successfully served a long chain of clientele over the years.</h6>

  <h6>Our showroom in Noida is designed to provide you with an immersive and seamless experience when purchasing new and pre-owned cars. We take pride in the fact that we have established strong relationships with new car showrooms, banks, and the dealership market, which enables us to provide our clients with the best resources available in the market.


We pride ourselves on being a one-stop-shop for all your car needs. Our commitment to customer satisfaction has helped us build a reputation as a trusted brand in the automobile industry.
In addition to offering new and pre-owned cars, we also provide a range of services such as Finance, Insurance, Car Detailing & servicing.


Our state-of-the-art facilities are sourced by highly trained technicians who use the latest diagnostic tools and equipment to ensure that your car is always in excellent condition, making us a one-stop solution for all your car-related needs.</h6>
</div>
<div>

    
<div style="background-color: rgb(193, 206, 206);">
 <h1 style="color: brown;"> Meet Our Team</h1>

Our Team
Team Cars99 is made up of knowledgeable and experienced professionals who are passionate about helping customers find the perfect car to fit their needs and budget. Whether you're in the market for a new or used vehicle, our salespeople will work with you to find the right car at the right price.

Our team of professionals is dedicated to ensure that you receive the best possible service when you visit our showroom. From helping you choose the perfect car that meets your requirements by the sales team, To providing you with financing solutions from multiple banks with all the processing taken care by our skilled Finance team We are committed to making your experience with us a pleasant one.

<h1>P.Shashmeer Khan</h1>
<h1>S.Irafn basha</h1>
<h1>S.Abdul Rahaman</h1>
</div>
</div>
</div>
</div>