<div class="container mt-5 border-solid">
    <div class="container mt-5 border border-white" style="width: 50%;">
        <form class="container mt-5 border border-info" #RegForm="ngForm" (ngSubmit)="registerValid(RegForm.value)">
            <u><h2 class="mt-5" style="text-align: center;">REGISTRATION</h2></u>
            <div class="row">
                <div class="col-xs-6">
                    <label>Enter Name:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" placeholder="Enter Name" class="form-control" name="customerName" ngModel required>
                    </div>

                    <label>Email</label>
                    <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" class="form-control" name="emailId" placeholder="Enter Email" ngModel #emailId="ngModel" required minlength="6" maxlength="50"  required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    </div>
                   <div *ngIf="emailId.invalid && emailId.touched">
                    <div *ngIf="emailId.errors?.['required']">
                      <p style="color: red;">Email is required.</p>
                    </div>
                    <div *ngIf="emailId.errors?.['pattern']">
                      <p style="color: red;">Please enter a valid email address.</p>
                    </div>
                  </div>
               <label>Password</label>
               <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" ngModel #password="ngModel" required minlength="8" maxlength="16"   pattern="(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.\W).{8,}">
               </div>
                    <div *ngIf="password.invalid && password.touched">
                      <div *ngIf="password.errors?.['required']">
                        <p style="color: red;">Password is required.</p>
                      </div>
                      <!-- <div *ngIf="password.errors?.['pattern']">
                        <p style="color: red;">Password must be at least one capital,small,special character and number needed</p>
                      </div> -->
                      
                      <div *ngIf="password.errors?.['minlength']" >
                        <p style="color: red;">Password must be at least 8 characters long</p>
                      </div>
                    </div>
                       

                    <label>Enter City: </label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" placeholder="Enter City" class="form-control" name="city" ngModel>
                    </div>
       

                    <label>Enter State:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                        <input type="text" class="form-control" placeholder="Enter State" name="state" ngModel>
                    </div>
                    <label>Contact</label>
                         <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                          <input type="text" class="form-control" name="mobile" placeholder="Enter Number" ngModel #mobile="ngModel" required pattern="[0-9]{10}">
                         </div>
                          <div *ngIf="mobile.invalid && mobile.touched">
                            <div *ngIf="mobile.errors?.['required']">
                              <p style="color: red;">Number is required.</p>
                            </div>
                            <div *ngIf="mobile.errors?.['pattern']">
                              <p style="color: red;">Mobile number must be exactly 10 digits long.</p>
                            </div>
                          </div>
                </div>
            </div>
            <br /> 
            <button type="submit" class="btn btn-primary"  [disabled]="RegForm.valid" value="registerValid" >Register</button><br>
            <!-- <button type="button" (click)="RegForm.reset()" class="clear-btn">CLEAR</button> -->
            <br/>
            <p>Already registered? <a href="login">Login</a></p>
        </form>
    </div>
</div>
