<div class='mt-3'>
    <div class="container">
      <img src="https://www.cars99.com/storage/cms_pages/210723015810-banner.jpg" style=" height: 300px; ">
    </div>
      <h4 class='text-info text-center'>Our Top Selling Cars</h4>
      <div class='container'>
        <div class='row mt-3'>
             <div class="col-xs-6 col-md-4 col-lg-4 card  justify-content- around border-0 mt-3" *ngFor="let car of carsdetails">
             <img src="{{car.img}}" alt="images" class='w-100 rounded-3 ' style="height: 220px;"  />
              <div class='card-body'>
                <p class='text-seconadry text-center' >{{car.brand}} | {{car.model}}</p>
                <p class='text-danger text-center'  >Rs.{{car.price}} Lacs</p>
              </div>
              <div class="card-footer" align="center">
                <button style="border:0px solid; float: left;" (click)="updateCar(car)">Edit Details<span class="glyphicon glyphicon-pencil"></span></button>
                <span><button style="border:0px solid; float:right;" (click)="deleteCar(car.carId)"><span class="glyphicon glyphicon-trash"></span></button></span>
              </div>
            </div>
            
            <div class="col-xs-6 col-md-4 col-lg-4 card  justify-content- around border-2 mt-3" style="height: 250px;">
                <button (click)="addcars()" style="border: 0px;"><img src="https://tse3.mm.bing.net/th?id=OIP.c-zqTRG3479A7gj7MgfT8QHaHa&pid=Api&P=0&h=180 " alt="images" class='w-100 rounded-3 border-1' style="height: 220px;"  /></button>
                 <div class='card-body'>
                   <p class='text-seconadry text-center' >Add Cars details</p>
                   <!-- <p class='text-danger text-center'  >Rs.49.00 Lacs</p> -->
                 </div>
               </div>
            
     
  
         
  
       
  
  
  
  
  
  
  
  
  
        </div>
      </div>
    </div>
  
  