<!-- <h1 align="center" style="margin-top: 10%;">Show customers Deatils</h1>
<table  align="center">
    <tr>
        <th> Customer Id</th>
        <th> Customer Name </th>
        <th> Email Id </th>
        <th> Contact No </th>
        <th> City</th>
        <th> State </th>
    
       
        
        <th> Password </th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let cust of customers">
        <td> {{ cust.id }} </td>
        <td> {{ cust.customerName}} </td>
        <td> {{ cust.emailId}} </td>
        <td> {{ cust.contactNo }} </td>
        <td> {{ cust.city}} </td>
        <td> {{cust.state }}</td>
      
        <td> {{ cust.password }} </td>
        <td ><button  (click)="deleteCust"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
    </tr>
</table> -->


<div class="container" *ngIf="customers" style="margin-top: 10%;">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th> Customer Id</th>
               <th> Customer Name </th>
               <th> Email Id </th>
              <th> Contact No </th>
             <th> City</th>
             <th> State </th>
        <!-- <th>Location</th> -->
        <th> Password </th>
                
                <th > Action </th>    <!-- another column -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cust of customers">
                <td> {{ cust.id }} </td>
                <td> {{ cust.customerName}} </td>
                <td> {{ cust.emailId}} </td>
                <td> {{ cust.contactNo }} </td>
                <td> {{ cust.city}} </td>
                <td> {{cust.state }}</td>
                <!-- <td>{{emp.country | location}}</td> -->
                <td> {{ cust.password }} </td>
           
                <!-- keep all other td tags as it is -->
                <!-- add the following td to add a trash icon as a button representing delete
                     provide click event binding as follows: -->
                <td> 
                    <button type="button" class="btn btn-default btn-sm" (click)="deleteCust(cust.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

