<div class="footer mt-5 bg-dark">
    <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
       
        
       <div class="container">
           <div class="row">
             <div class="col-sm-6 col-md-4">
               <h5 style="color: whitesmoke;">
                   <br>
                   HOUFU Motors Private Limited
                   <br>
                   
                   (A unit of HOUFU Group)<br>
                   Cars99 is India’s leading MultiBrand Dealership,  
                   <br>
                    with over 30Yrs of Experience.</h5> 
             </div>
             
             <div class="col-sm-6 col-md-4">
               <h5 style="color: whitesmoke;">
               Browse by Brand<br>
View all Stock<br>
Sell Your Car<br>
Find Cars99 Nexus<br>
</h5>
  </div>
             <div class="col-sm-6 col-md-4">
               <h6 style="color: whitesmoke;">
                   Browse by Brand<br>
                   View all Stock<br>
                   Sell Your Car<br>
                   Find Cars99 Nexus<br>
                   Services<br>
                   Buy New Car<br>
                   Finance<br>
                   Insurance<br>
                   Detailing<br>
                   Car Servicing/Bodyshop</h6>
             </div>
           
         <div class="col-sm-6 col-md-4">
           <h6 style="color: whitesmoke;">
About Cars99<br>
<a routerLink="aboutus">About Us</a>
Customer Reviews<br>
Career<br>
</h6>
</div>
<p style="color:white ;text-align:center"  >(c) Copyrights 2024 HOUFU Motors Private Limited. All rights reserved</p>
</div>
