<div class="container mt-5" >
 <div class="container mt-5 " >
    <div class="row mt-5 bg-secondary" style="border: 1px solid black; ">
        <div class="col" style="margin-left: 60px;">
    <img src="https://www.cars99.com/assets/images/feture_icon1.png">
    <h5>2020</h5>
    <p>Model</p>
       </div>
       <div class="col">
    <img src="https://www.cars99.com/assets/images/feture_icon2.png">
    <h5>38,000 km</h5>
    <p>Driven</p>
      </div>
      <div class="col">
        <img src="https://www.cars99.com/assets/images/feture_icon3.png">
        <h5>Petrol</h5>
        <p>Fuel</p>
      </div>
    <!-- <img src="https://www.cars99.com/assets/images/feture_icon4.png"> -->
    <div class="col">
    <img src="https://www.cars99.com/assets/images/feture_icon6.png">
    <h5>Andhra Pradesh</h5>
    <p>Reg.State</p>
    </div>
    <div class="col">
    <img src="https://www.cars99.com/assets/images/feture_icon7.png">
    <h5>5 Seater</h5>
    <p>Seating Capacity</p>
    </div>
    </div>
    <div class="container mt-5" align="center">
    <button class="btn btn-danger" (click)="enquireDetails()">Enquire Now</button>
    
   </div>
 </div>
</div>
